* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    justify-content: center;
    /* background-color: green; */
    max-width: 420px;
    margin: auto;

}

header {
    /* background-color: red; */
    padding: 20px;
    margin-bottom: 50px;
}

.input {
    font-size: 20px;
    /* background-color: red; */
    margin-bottom: 50px;
    padding: 30px;
    line-height: 30px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.output {
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    /* display: flex; */
    text-align: center;
    width: auto;
}

.input label {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
       
}
select{
    cursor: pointer;
}
select,input[type="range"]{
    width: 100%;
    height: 30px;
}
.input button{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    background-color: rgb(206, 41, 41);
    transition: ease-in-out 0.3s;
}
.input button:hover{
    opacity: 0.9;
    transform: scale(1.05);
    cursor: pointer;
}
.info{
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    /* color: red; */
}
.output p{
    padding: 10px;
}
.excuse{
    
    font-size: larger;
}